{% extends 'base.html.twig' %}

{% block title %}{{ "Log in" | trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ "Log in before continuing" | trans }}</h3>
            </div>
            <div class="card-body">
                <form method="post" {{ stimulus_controller('login') }}>
                    <div class="form-group">
                        <label for="inputInstance">{{ "Instance" | trans }}</label>
                        <select id="inputInstance" name="instance" required {{ stimulus_target('login', 'instanceSelect') }}>
                            <option></option>
                            {% for instance in instances %}
                                <option {% if instance is same as last_instance %}selected{% endif %}>{{ instance }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputUsername">{{ "Username" | trans }}</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autocomplete="username" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">{{ "Password" | trans }}</label>
                        <input type="password" value="{{ last_password }}" name="password" id="inputPassword" class="form-control" required autocomplete="current-password" />
                    </div>
                    {% if show_totp %}
                        <div class="form-group">
                            <label for="inputTotp">{{ "TOTP token" | trans }}</label>
                            <input type="text" name="totp" id="inputTotp" class="form-control" inputmode="numeric" />
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <button class="btn btn-primary" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
