{% extends "base.html.twig" %}

{% block title %}{{ "Schedule new post" | trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data"
                      action="{{ path('app.post.create.do') }}" {{ stimulus_controller('create-post') }}>
                    <div class="form-group">
                        <label for="inputTitle">{{ "Title" | trans }}</label>
                        <input id="inputTitle" class="form-control" type="text" name="title"
                               value="{{ title|default('') }}" required
                               autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="inputCommunities">{{ "Communities" | trans }}</label>
                        <select multiple id="inputCommunities"
                                name="communities[]" {{ stimulus_target('create-post', 'communitySelect') }}>
                            <option></option>
                            {% for communityOption in communities %}
                                <option {% if communityOption in selectedCommunities %}selected{% endif %}>{{ communityOption }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputUrl">{{ "URL" | trans }}</label>
                        <input id="inputUrl" class="form-control" type="url" name="url" value="{{ url|default('') }}"/>
                    </div>
                    <div class="form-group">
                        <label for="file">{{ "Image" | trans }}</label>
                        <input id="file" accept="image/*" class="form-control" type="file" name="image"/>
                    </div>
                    <div class="form-group">
                        <label for="fileProvider">{{ "File hosting" | trans }}</label>
                        <select class="form-control" id="fileProvider" name="fileProvider">
                            {% for option in fileProviders|filter(provider => provider.available) %}
                                <option value="{{ option.id }}" {% if option.id is same as defaultFileProvider %}selected{% endif %}>{{ option.displayName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputLanguage">{{ "Language" | trans }}</label>
                        <select id="inputLanguage"
                                name="language" {{ stimulus_target('create-post', 'languageSelect') }}>
                            {% for language in languages %}
                                <option value="{{ language.value }}"
                                        {% if language.value is same as selectedLanguage.value %}selected{% endif %}>
                                    {{ language.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputText">{{ "Text" | trans }}</label>
                        <textarea id="inputText" class="form-control" name="text">{{ text|default('') }}</textarea>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-on-danger">
                            <input class="custom-control-input" type="checkbox" id="inputNsfw" name="nsfw"
                                   {% if nsfw|default(false) %}checked{% endif %} />
                            <label for="inputNsfw" class="custom-control-label">{{ "NSFW?" | trans }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="inputPinToCommunity"
                                   name="pinToCommunity" {{ stimulus_target('create-post', 'pinToCommunitySwitch') }}
                                   {% if pinToCommunity|default(false) %}checked{% endif %}
                                   {{ stimulus_action('create-post', 'toggleScheduleUnpinSwitch') }}
                            />
                            <label for="inputPinToCommunity"
                                   class="custom-control-label">{{ "Pin to community" | trans }}</label>
                            <small>({{ "note that you must be a mod for this to work" | trans }})</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="inputPinToInstance"
                                   name="pinToInstance" {{ stimulus_target('create-post', 'pinToInstanceSwitch') }}
                                   {% if pinToInstance|default(false) %}checked{% endif %}
                                   {{ stimulus_action('create-post', 'toggleScheduleUnpinSwitch') }}
                            />
                            <label for="inputPinToInstance"
                                   class="custom-control-label">{{ "Pin to instance" | trans }}</label>
                            <small>({{ "note that you must be an admin for this to work" | trans }})</small>
                        </div>
                    </div>
                    <div class="form-group" hidden {{ stimulus_target('create-post', 'scheduleUnpinSwitchWrapper') }}>
                        <div class="custom-control custom-switch custom-switch-on-danger">
                            <input class="custom-control-input" type="checkbox" id="inputScheduleUnpin"
                                   name="scheduleUnpin" {{ stimulus_target('create-post', 'scheduleUnpinSwitch') }}
                                   {% if scheduleUnpin|default(false) %}checked{% endif %}
                                   {{ stimulus_action('create-post', 'toggleScheduleUnpinSwitch') }}
                            />
                            <label for="inputScheduleUnpin"
                                   class="custom-control-label">{{ "Schedule unpin" | trans }}</label>
                        </div>
                    </div>
                    <div class="form-group" hidden {{ stimulus_target('create-post', 'scheduleUnpinWrapper') }}>
                        <label for="inputScheduleUnpinDateTime">{{ "When do you want to unpin the post?" | trans }}</label>
                        <input class="form-control" id="inputScheduleUnpinDateTime" name="scheduleUnpinDateTime"
                               type="datetime-local" value="{{ scheduleUnpin|default('') }}"/>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="hidden" name="recurring" value="0" />
                            <input class="custom-control-input" type="checkbox"
                                   value="1" {% if recurring|default(false) %}checked{% endif %}
                                   id="inputRecurring" {{ stimulus_action('create-post', 'toggleRecurring') }}
                                   name="recurring" {{ stimulus_target('create-post', 'recurringScheduleSwitch') }} />
                            <label for="inputRecurring" class="custom-control-label">{{ "Recurring?" | trans }}</label>
                        </div>
                    </div>
                    <div class="form-group" hidden {{ stimulus_target('create-post', 'oneTimeSchedule') }}>
                        <label for="inputScheduleDateTime">{{ "When do you want to post?" | trans }}</label>
                        <input class="form-control" id="inputScheduleDateTime" name="scheduleDateTime"
                               type="datetime-local" value="{{ scheduleDateTime|default('') }}"/>
                    </div>
                    <div class="form-group" hidden {{ stimulus_target('create-post', 'recurringSchedule') }}>
                        <label>{{ "When do you want to post?" | trans }}</label>
                        <div>
                            {{ component('ScheduleComponent', {
                                amount: scheduler.amount|default(1),
                                scheduleType: scheduler.scheduleType|default(constant('App\\Enum\\ScheduleType::Day')),
                                selectedDayType: scheduler.selectedDayType|default(constant('App\\Enum\\DayType::SpecificDay')),
                                day: scheduler.day|default(1),
                                weekday: scheduler.weekday|default(constant('App\\Enum\\Weekday::Monday')),
                            }) }}
                        </div>
                    </div>

                    <input type="hidden" name="timezoneOffset" {{ stimulus_target('create-post', 'timezoneOffset') }} />
                    <button class="btn btn-primary" type="submit">
                        {{ "Schedule" | trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
