{% extends "base.html.twig" %}

{% block title %}{{ "Scheduled post detail" | trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><strong>{{ "Job ID" | trans }}</strong></td>
                        <td>{{ job.jobId }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Scheduled at" | trans }}</strong></td>
                        <td {{ stimulus_controller('local-date-time') }}>{{ job.dateTime | date('c') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Recurring post" | trans }}</strong></td>
                        <td>{{ job.recurring ? "Yes" | trans : "No" | trans }}</td>
                    </tr>
                    {% if job.recurring %}
                        <tr>
                            <td><strong>{{ "Next runs" | trans }}</strong></td>
                            <td>
                                <ul>
                                    {% for nextRun in job.nextRuns %}
                                        <li {{ stimulus_controller('local-date-time') }}>
                                            {{ nextRun.format('c') }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ "Title" | trans }}</strong></td>
                        <td>{{ job.title }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Community" | trans }}</strong></td>
                        <td>{{ job.community }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "URL" | trans }}</strong></td>
                        <td>
                            {% if job.url is null %}
                                <code>N/A</code>
                            {% else %}
                                {{ job.url }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Has image" | trans }}</strong></td>
                        <td>{{ job.image is not same as null ? 'Yes' | trans : 'No' | trans }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "NSFW" | trans }}</strong></td>
                        <td>{{ job.nsfw ? 'Yes' | trans : 'No' | trans }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Pin to community" | trans }}</strong></td>
                        <td>{{ job.pinToCommunity ? 'Yes' | trans : 'No' | trans }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Pin to instance" | trans }}</strong></td>
                        <td>{{ job.pinToInstance ? 'Yes' | trans : 'No' | trans }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Unpin at" | trans }}</strong></td>
                        <td>{{ job.unpinAt ? job.unpinAt | format_date_time : '<code>N/A</code>' | raw }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Language" | trans }}</strong></td>
                        <td>{{ job.language.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ "Text" | trans }}</strong></td>
                        <td class="text-wrap">
                            {% if job.text is null %}
                                <code>N/A</code>
                            {% else %}
                                <pre>{{ job.text }}</pre>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
