{% extends "base.html.twig" %}

{% block title %}{{ "Schedules" | trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ "Posts" | trans }}</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ "Title" | trans }}</th>
                        <th>{{ "Community" | trans }}</th>
                        <th>{{ "Scheduled at" | trans }}</th>
                        <th>{{ "Recurring" | trans }}</th>
                        <th>{{ "Cancel" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <a class="btn btn-primary"
                               href="{{ path('app.post.create') }}">{{ "Schedule a post" | trans }}</a>
                        </td>
                    </tr>
                    {% for job in postCreateJobs %}
                        <tr {{ stimulus_controller('scheduled-job', {
                            cancelUrl: path('app.post.ajax.cancel', {
                                type: job | class_name,
                                jobId: job.id,
                            }),
                            errorDeletingText: "There was an error when cancelling the job." | trans,
                        }) }}>
                            <td>
                                <a href="{{ path('app.post.detail', {jobId: job.id}) }}">
                                    {{ job.title }}
                                </a>
                            </td>
                            <td>{{ community(job.communityId) | community_name }}</td>
                            <td {{ stimulus_target('scheduled-job', 'dateTime') }}>{{ job.scheduledAt | date('c') }}</td>
                            <td>{{ job.scheduleExpression ? 'Yes' | trans : "No" | trans }}</td>
                            <td>
                                <button class="btn btn-danger"
                                        type="button" {{ stimulus_action('scheduled-job', 'cancel') }}>
                                    {{ "Cancel" | trans }}
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                {{ "You have no scheduled posts." | trans }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ "Post pins/unpins" | trans }}</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ "Post" | trans }}</th>
                        <th>{{ "Pin/Unpin" | trans }}</th>
                        <th>{{ "Scheduled at" | trans }}</th>
                        <th>{{ "Cancel" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <a class="btn btn-primary"
                               href="{{ path('app.post.pin') }}">{{ "Schedule a pin/unpin" | trans }}</a>
                        </td>
                    </tr>
                    {% for job in postPinJobs %}
                        <tr {{ stimulus_controller('scheduled-job', {
                            cancelUrl: path('app.post.ajax.cancel', {
                                type: job | class_name,
                                jobId: job.id,
                            }),
                            errorDeletingText: "There was an error when cancelling the job." | trans,
                        }) }}>
                            <td>
                                {{ job.title }} (<a href="{{ job.url }}" target="_blank">{{ job.url }}</a>)
                            </td>
                            <td>
                                {% if job.pin is same as constant('App\\Enum\\PinType::PinToCommunity') %}
                                    {{ "Pin to community" | trans }}
                                {% elseif job.pin is same as constant('App\\Enum\\PinType::UnpinFromCommunity') %}
                                    {{ "Unpin from community" | trans }}
                                {% elseif job.pin is same as constant('App\\Enum\\PinType::PinToInstance') %}
                                    {{ "Pin to instance" | trans }}
                                {% elseif job.pin is same as constant('App\\Enum\\PinType::UnpinFromInstance') %}
                                    {{ "Unpin from instance" | trans }}
                                {% endif %}
                            </td>
                            <td {{ stimulus_target('scheduled-job', 'dateTime') }}>{{ job.dateTime | date('c') }}</td>
                            <td>
                                <button class="btn btn-danger"
                                        type="button" {{ stimulus_action('scheduled-job', 'cancel') }}>
                                    {{ "Cancel" | trans }}
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                {{ "You have no scheduled post pins/unpins." | trans }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if unreadPostsEnabled %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "Unread post reports" | trans }}</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>{{ "Community" | trans }}</th>
                            <th>{{ "Recurring" | trans }}</th>
                            <th>{{ "Scheduled at" | trans }}</th>
                            <th>{{ "Cancel" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                <a class="btn btn-primary"
                                   href="{{ path('app.post.unread_post_report_create') }}">{{ "Schedule an unread post report" | trans }}</a>
                            </td>
                        </tr>
                        {% for job in postReportJobs %}
                            <tr {{ stimulus_controller('scheduled-job', {
                                cancelUrl: path('app.post.ajax.cancel', {
                                    type: job | class_name,
                                    jobId: job.id,
                                }),
                                errorDeletingText: "There was an error when cancelling the job." | trans,
                            }) }}>
                                <td>
                                    {% if job.user %}
                                        <a href="{{ job.userUrl }}" target="_blank">{{ job.user }}</a>
                                    {% endif %}
                                    {% if job.user and job.community %}
                                        {{ "at" | trans }}
                                    {% endif %}
                                    {% if job.community %}
                                        <a href="{{ job.communityUrl }}" target="_blank">{{ job.community }}</a>
                                    {% endif %}
                                </td>
                                <td>{{ job.recurring ? 'Yes' | trans : "No" | trans }}</td>
                                <td {{ stimulus_target('scheduled-job', 'dateTime') }}>{{ job.dateTime | date('c') }}</td>
                                <td>
                                    <button class="btn btn-danger"
                                            type="button" {{ stimulus_action('scheduled-job', 'cancel') }}>
                                        {{ "Cancel" | trans }}
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    {{ "You have no scheduled unread post reports." | trans }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
